<article class="contentHolder">

	<h2>Archives</h2>
	<h3>Completed Todos</h3>

	<section class="contentHolder__btn-holder">
		Filter by : 
		<button class="btn btn-sm btn-default">Name</button>
		<button class="btn btn-sm btn-default">Date</button>
	</section>

	<section ng-controller="archiveControls as todoList">
		<span><br>{{todoList.todos.length}} items</span>
		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				<label class="checkbox">{{ todo.title }}</label>
				<p>{{ todo.description }}</p>
				<small><i>{{ todo.date }}</i></small>
				
			</li>
		</ul>
	</section>
</article>