<article class="contentHolder">

	<h2>Welcome User!</h2>
	<button class="btn btn-sm btn-default">Edit Profile</button>

	<h3>
		<br>Todos
		<button class="btn btn-primary">Create New Todo</button>
	</h3>

	<section class="contentHolder__btn-holder">
		Filter by : 
		<button class="btn btn-sm btn-default">Name</button>
		<button class="btn btn-sm btn-default">Urgency</button>
		<button class="btn btn-sm btn-default">Status</button>
		<button class="btn btn-sm btn-default">Comments</button>
	</section>

	<section ng-controller="todoControls as todoList">
		<span><br>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				<label class="checkbox">
					<input type="checkbox" ng-model="todo.done">
					<a class="done-{{todo.done}}">{{todo.text}}</a>
				</label>
			</li>
		</ul>

		<br>
		<button class="btn btn-primary">Update Status</button>
		<button class="btn btn-primary">Delete</button>
		<button class="btn btn-primary">Archive</button>
	</section>

</article>