<article class="contentHolder">

	<h2>Welcome User!</h2>

	<h3>
		<br>Todos
		<a class="btn btn-primary" href="index.html#!/create/">Create New Todo</a>
	</h3>

	<section class="contentHolder__btn-holder">
		Filter by : 
		<button class="btn btn-sm btn-default">Name</button>
		<button class="btn btn-sm btn-default">Urgency</button>
		<button class="btn btn-sm btn-default">Status</button>
		<button class="btn btn-sm btn-default">Comments</button>
	</section>

	<section ng-controller="todoControls as todoList">
		<span><br>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				<a class="done-{{todo.done}}" href="index.html#!/todo/{{ todo.text }}">{{todo.text}}</a>
			</li>
		</ul>
	</section>

</article>