<article class="contentHolder">

	<h3>Welcome</h3>

	<section ng-show="!isSignedIn">
		<button class="btn btn-lg btn-primary {{ hasAccount ? 'active' : '' }}" ng-click="hasAccount = true">Login</button>
		<button class="btn btn-lg btn-primary {{ !hasAccount ? 'active' : '' }}" ng-click="hasAccount = false">Create an Account</button>

		<form>
			<div class="form-group" ng-show="!hasAccount">
				<label>Name</label>
				<input type="text" class="form-control" ng-model="user.name" placeholder="Name">
			</div>

			<div class="form-group">
				<label>Email address</label>
				<input type="email" class="form-control" ng-model="user.email" placeholder="Email">
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="user.password" placeholder="Password">
			</div>

			<div class="form-group" ng-show="!hasAccount">
				<label>Organisation</label>
				<input type="text" class="form-control" ng-model="user.organisation" placeholder="Org Name">
			</div>

			<div class="checkbox" ng-show="!hasAccount">
				<label><input type="checkbox" name="admin" ng-model="user.admin"> Make me admin</label>
			</div>

			<small ng-bind="error" ng-show="error" class="error"></small>

			<button type="submit" class="btn btn-primary" ng-click="submit(hasAccount)"><span ng-bind="action"></span></button>
		  
		</form>
	</section>

	<section ng-show="isSignedIn">
		<button class="btn btn-lg btn-primary" ng-click="logout()">log out</button>
	</section>

</article>