<article class="contentHolder">

	<h3>{{ heading }}</h3>
	<button 
		class="btn btn-lg btn-primary {{ account === 'active' ? 'active' : '' }}"
		ng-click="toggleAccount('active')"
		>Login</button>
	<button 
		class="btn btn-lg btn-primary {{ account === 'not-active' ? 'active' : '' }}"
		ng-click="toggleAccount('not-active')"
		>Create an Account</button>


	<form ng-show="account === 'active'">
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>

		<button type="submit" class="btn btn-primary">Login</button>
	  
	</form>
	<form ng-show="account === 'not-active'">
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox"> Make me admin
			</label>
		</div>

		<button type="submit" class="btn btn-primary">Create my Account</button>
	  
	</form>

</article>