<article class="contentHolder">

	<h2>Welcome User!</h2>

	<h3><br>Todos</h3>

	<section class="contentHolder__btn-holder">
		Filter by : 
		<button class="btn btn-sm btn-default">Name</button>
		<button class="btn btn-sm btn-default">Urgency</button>
		<button class="btn btn-sm btn-default">Status</button>
		<button class="btn btn-sm btn-primary">User</button>
	</section>

	<!-- <section ng-controller="todoListControls as todoList">
		<span><br>{{todoList.remaining()}} of {{todoList.todos.length}} users</span>
		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				by {{ todo.user }}<br>
				<div class="todo">
					<a 	class="{{ todo.status === 'done' ? 'done-true' : '' }}" 
						href="index.html#!/todo/{{ todo.id }}">
						{{ todo.title }}
					</a>
				</div>
			</li>
		</ul>
	</section> -->

	<section ng-controller="todoListControls as todoList">
		<span><br>{{todoList.remaining()}} of {{todoList.todos.length}} todos</span>
		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				<a 	class="{{ todo.status === 'done' ? 'done-true' : '' }}" 
					href="index.html#!/todo/{{ todo.id }}">
					{{ todo.title }}
				</a>
				<small><i> &nbsp;&nbsp;( by <a href="#">{{ todo.user }}</a>)</i></small>
			</li>
		</ul>
	</section>
</article>