<article class="contentHolder">

  <button class="btn btn-xs btn-default" onclick="history.back()">Back</button>
  <h3 class="contentHolder__todoHolder editable">
    <span ng-show="!editable">{{ todo.title }}</span>
    <input ng-show="editable" ng-model="todo.title" /><br>

    <small>
      <span ng-show="!editable">{{ todo.status }}</span>
      <div ng-show="editable" class="form-group col">
        <input type="radio" name="status" value="waiting" checked> Waiting<br>
        <input type="radio" name="status" value="busy"> Busy<br>
        <input type="radio" name="status" value="done"> Done
      </div>
    </small>

    <small>
      <span ng-show="!editable">( <i>{{ todo.urgency }}</i> )</span>
      <div ng-show="editable" class="form-group col">
        <input type="radio" name="urgency" value="waiting" checked> Waiting<br>
        <input type="radio" name="urgency" value="busy"> Urgent<br>
        <input type="radio" name="urgency" value="done"> Done
      </div>
    </small> 
  </h3>

  
  <p ng-show="!editable">{{ todo.description }}</p>
  <textarea ng-show="editable" class="form-control" ng-model="todo.description"></textarea>
  
  <section class="contentHolder__comments" ng-show="todo.comments > 0">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} comments</span>

    <ul class="unstyled">
      <li ng-repeat="comment in todo.comments">
        <h5>{{ comment.name }}</h5>
        {{ comment.text }}

        <button class="btn btn-sm btn-default">Reply</button>
      </li>
    </ul>
  </section>

  <br><br>
  <button class="btn btn-primary" ng-click="update()">{{ editable ? 'Save' : 'Edit' }}</button>
  <button ng-show="editable" class="btn btn-primary" ng-click="cancel()">cancel</button>

</article>