<article class="contentHolder">

  <button class="btn btn-xs btn-default" onclick="history.back()">Back</button>
  <h3 class="contentHolder__todoHolder editable">
    <span ng-show="!editable">{{ todo.title }}</span>
    <input ng-show="editable" ng-model="todo.title" /><br>

    <div>
      <span>Task Duration :</span>
      <span ng-show="!editable">{{ taskDates.start }} - {{ taskDates.end }} ({{ taskDates.total }})</span>
      <div ng-show="editable" class="form-group col">
        From <input type="date" ng-model="todo.dateStart" class="date date_start" value="{{ taskDates.start }}"><br>
        To <input type="date" ng-model="todo.dateEnd" class="date date_end" value="{{ taskDates.end }}">
      </div>
    </div>

    <a 
      ng-show="!editable && isAdmin"
      ng-click="todo.isActive === true ? archiveTodo() : reactivateTodo()"
      class="btn btn-primary">{{ todo.isActive === true ? 'Archive' : 'Activate' }}</a>

    <a 
      ng-show="!editable && isAdmin"
      ng-click="deleteTodo()"
      class="btn btn-primary">Delete</a>

    <small>
      <span ng-show="!editable">{{ todo.status }}</span>
      <div ng-show="editable" class="form-group col">
        <span ng-repeat="state in todoStates.status">
          <input type="radio" name="Status" value="{{ state }}" 
            ng-model="todo.status"> {{ state }}<br>
        </span>
      </div>
    </small>

    <small>
      <span ng-show="!editable">( <i>{{ todo.urgency }}</i> )</span>
      <div ng-show="editable" class="form-group col">
        <span ng-repeat="state in todoStates.urgency">
          <input type="radio" name="Urgency" value="{{ state }}" 
            ng-model="todo.urgency"> {{ state }}<br>
        </span>
      </div>
    </small> 
  </h3>

  
  <p ng-show="!editable">{{ todo.description }}</p>
  <textarea ng-show="editable" class="form-control" ng-model="todo.description"></textarea>
  
  <section class="contentHolder__comments" ng-show="todo.comments > 0">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} comments</span>

    <ul class="unstyled">
      <li ng-repeat="comment in todo.comments">
        <h5>{{ comment.name }}</h5>
        {{ comment.text }}

        <button class="btn btn-sm btn-default">Reply</button>
      </li>
    </ul>
  </section>

  <br><br>
  <button class="btn btn-primary" ng-click="update()">{{ editable ? 'Save' : 'Edit' }}</button>
  <button ng-show="editable" class="btn btn-primary" ng-click="cancel()">cancel</button>

</article>