.done-true {
  text-decoration: line-through;
  color: blue;
}

/* ------ /Reset ------ */

body {

	nav {
		display: inline-block;
		background: purple;
		color: #fff;
	}

	main { 
		background: #f00;
	}
}

